/* For the settings icon */
#icon-badgeos_badgeos {
	background-image: url('../images/badgeos_screen_icon.png');
}

/* For the Triggers UI */
li.step-row {
	background:#fff;
	border-radius: 5px;
	border: 1px solid #DDD;
	padding: 5px 10px;
}
li.step-row .step-handle {
	display: block;
	background:url( '../images/ui_handle.png' );
	width:7px;
	height:4em;
	margin:5px 10px 5px 0;
	position: relative;
	float: left;
}
li.step-row .required-duration {
	text-align: right;
}
li.step-row .step-title {
	display: block;
	padding-top:5px;
}
li.step-row .title {
	width:300px;
}
li.step-row .delete-step {
	position: relative;
	float: right;
	line-height:4.5em;
}

/* User Profile Area */
.badgeos-table tr {
	/*padding: 5px 10px;*/
}
.badgeos-table th {
	font-weight: bold;
	padding: 8px 10px;
	text-transform: uppercase;
}
.badgeos-table a.error {
	color: #a00;
}

/* License Settings */
.badgeos-license-status {
	background: #eee;
	color: #333;
	padding: 3px 8px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.badgeos-license-status.invalid,
.badgeos-license-status.failed {
	background: #faa;
	border-color:#a55;
	color:#a00;
}
.badgeos-license-status.valid,
.badgeos-license-status.active {
	background: #ac7;
	border-color:#7a5;
	color:#250;
}

/* Add-ons page */
.badgeos-addons .addon {
	display: block;
	background: #fafafa;
	border: 1px solid #eee;
	padding: 1em;
	margin: 0 1em 1em 0;
	min-width: 200px;
	max-width: 25%;
	position: relative;
	float: left;
}
.badgeos-addons .addon:nth-child(3n+4) {
	clear: both;
}
.badgeos-addons .addon .thumbnail-link {
	display: block;
	margin:0 auto;
	width: 200px;
	height: 200px;
	text-align: center;
}
.badgeos-addons .addon img {
	max-width: 100%;
}

/*
Shortcode Embed styles
 */
.wp-core-ui a.badgeos_media_link, .wp-core-ui a.badgeos_media_link:hover {
	background: url('../images/badgeos_icon.png') 4% 50% no-repeat;
	padding-left: 1.8em;
}
.badgeos_input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	width: 50%;
}
.badgeos_input > div {
	margin: 5px 0;
}
#shortcode_options {
	margin-top: 10px;
	min-height: 100%;
	overflow: auto;
	padding-top: 10px;
	width: 100%;
}
#shortcode_options label {
	font-weight: bold;
}
#shortcode_options span {
	font-style: italic;
}
.odd {
	clear: both;
}
.clear {
	clear: both;
}
#select2-drop {
	z-index: 100051;
}
#delete_log_entries {
	margin: 2px 8px 0 0;
}
.delete-log-entries.notice img {
	vertical-align: middle;
}
#revoke-badges-loader {
	width: 25px;
	margin-left: 20px;
	display: none;
}
.form-table td.bulk-delete-detail {
	padding-left: 20px;
}
.profile-php .earned-user-credits-wrapper,
.user-edit-php .earned-user-credits-wrapper {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits,
.user-edit-php .earned-user-credits-wrapper .badgeos-credits {
	border: 1px solid #e8e8e8;
	position: relative;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits .badgeos-credit-edit,
.user-edit-php .earned-user-credits-wrapper .badgeos-credits .badgeos-credit-edit {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	color: #0073aa;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits .badgeos-edit-credit-wrapper,
.user-edit-php .earned-user-credits-wrapper .badgeos-credits .badgeos-edit-credit-wrapper {
	padding: 9px 0;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits .badgeos-earned-credit,
.user-edit-php .earned-user-credits-wrapper .badgeos-credits .badgeos-earned-credit {
	padding: 15px 0;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits h3,
.user-edit-php .earned-user-credits-wrapper .badgeos-credits h3 {
	margin: 0;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits:nth-child( odd ),
.user-edit-php .earned-user-credits-wrapper .badgeos-credits:nth-child( odd ) {
	width: 40%;
	margin: 20px 2%;
	float: left;
	padding: 1%;
	box-shadow: 1px 1px 3px 2px #ccc;
	background-color: #fff;
}
.profile-php .earned-user-credits-wrapper .badgeos-credits:nth-child( even ),
.user-edit-php .earned-user-credits-wrapper .badgeos-credits:nth-child( even ) {
	width: 40%;
	margin: 20px 2%;
	float: right;
	padding: 1%;
	box-shadow: 1px 1px 3px 2px #ccc;
	background-color: #fff;
}

.profile-php .badgeos-rank-table .revoke-rank,
.user-edit-php .badgeos-rank-table .revoke-rank {
	cursor: pointer;
	color: #a00;
}

.profile-php .badgeos-rank-table .award-rank,
.user-edit-php .badgeos-rank-table .award-rank {
	cursor: pointer;
	color: #0073aa;
}


.profile-php .badgeos-achievement-table,
.profile-php .badgeos-rank-table,
.user-edit-php .badgeos-achievement-table,
.user-edit-php .badgeos-rank-table {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0 0 1px 2px #e8e8e8;
	margin-bottom: 30px;
}
.profile-php .badgeos-achievement-table thead,
.profile-php .badgeos-rank-table thead,
.user-edit-php .badgeos-achievement-table thead,
.user-edit-php .badgeos-rank-table thead {
	border-bottom: 1px solid #e8e8e8;
	padding: 10px;
}
.profile-php .badgeos-achievement-table tfoot,
.profile-php .badgeos-rank-table tfoot,
.user-edit-php .badgeos-achievement-table tfoot,
.user-edit-php .badgeos-rank-table tfoot {
	border-top: 1px solid #e8e8e8;
	padding: 10px;
}
.profile-php .badgeos-achievement-table th,
.profile-php .badgeos-rank-table th,
.user-edit-php .badgeos-achievement-table th,
.user-edit-php .badgeos-rank-table th {
	padding: 10px;
	background-color: #f6f6f6;
}
.profile-php .badgeos-achievement-table td,
.profile-php .badgeos-rank-table td,
.user-edit-php .badgeos-achievement-table td,
.user-edit-php .badgeos-rank-table td {
	padding: 10px;
}
.profile-php .badgeos-achievement-table tbody tr:nth-child( odd ),
.profile-php .badgeos-rank-table tbody tr:nth-child( odd ),
.user-edit-php .badgeos-achievement-table tbody tr:nth-child( odd ),
.user-edit-php .badgeos-rank-table tbody tr:nth-child( odd ) {
	background-color: #fff;
}
.profile-php .badgeos-achievement-table .revoke-achievement,
.profile-php .badgeos-rank-table .revoke-rank,
.user-edit-php .badgeos-achievement-table .revoke-achievement,
.user-edit-php .badgeos-rank-table .revoke-rank {
	cursor: pointer;
	color: #a00;
}
.profile-php .badgeos-achievement-table .award-achievement,
.profile-php .badgeos-rank-table .award-rank,
.user-edit-php .badgeos-achievement-table .award-achievement,
.user-edit-php .badgeos-rank-table .award-rank {
	cursor: pointer;
	color: #0073aa;
}
.profile_ranks_last_award_field{
	font-size: 20px !important;
	font-weight: bolder;
}
