.badgeos-spinner {
	display: block;
	margin: 4px auto;
	width: 20px;
	height: 20px;
	background: url(../images/spinner.gif);
}

.badge-title {
	display: inline-block;
	margin-top: 0;
}
.achievement-wrap, .badgeos-submission-form, .badgeos-attachments-list, .badgeos-submission-comments-list, .badgeos-original-submission {
	clear: both;
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px dotted #aaa;
	overflow: hidden;
}
.achievement-wrap {
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px dotted #aaa;
}
.achievement-wrap .badgeos-item-image {
	margin: 0 15px 15px 0;
	opacity: .4;
}
.user-has-earned .achievement-wrap .badgeos-item-image {
	opacity: 1;
}
.badgeos-item-points, .badgeos-submission-label {
	font-weight: bold;
}
.badgeos-required-achievements {
	clear: both;
}
.badgeos-required-achievements .user-has-earned {
	text-decoration: line-through;
}
.badgeos-required-achievements .user-has-earned:hover {
	text-decoration: none;
}
.badgeos-comment-form .badgeos-submission-comment textarea {
	width: 96%;
	height: 100px;
}
.badgeos-submission-comment {
	padding: 1em 1em 0;
	margin-bottom: .5em;
	overflow: hidden;
}
.badgeos-submission-comment:after {
	content: '';
	display: block;
	clear: both;
	margin: 0 auto;
	border-bottom: 1px dotted #aaa;
}
.badgeos-submission-comment:last-child:after {
	border: 0;
}
.badgeos-submission-comment.odd {
}
.badgeos-comment-date-by {
	font-weight: bold;
	font-size: 85%;
}