.achievement-template-part {
	border: #fff 1px solid;
	border-width: 1px;
	border-style: solid;
	padding: 0.6em 0.6em;
	margin: 5px 0 15px;
	background-color: #ddd;
	border-color: #999;
	color: black;
	clear: both;
}
#badgeos-achievements-filter {
	float: left;
	margin-bottom: 1em;
}
#badgeos-achievements-search,
.badgeos-feedback-search {
	margin-right: 5px;
	margin-bottom: 1em;
	float: right;
}
#badgeos-achievements-container, #achievements_list_load_more, #badgeos-achievements-filters-wrap {
	display: block;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.badgeos_achievement_main_container {
	margin: 50px 0;
}
.achievements_list_search_go_form .achievements_list_search_go {
	margin-top: 5px;
}
#badgeos-achievements-container {
	border-top: 1px dotted #aaa;
}
#badgeos-achievements-filter select {
	max-width: 100%;
	display: block;
}

/**
*  List view of BadgeOS Achievements List, Earned Achievements List, Rank List,
**/

.list .badgeos-list-item {
	clear: both;
	padding: 20px 0;
	border-bottom: 1px dotted #aaa;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}
.list .badgeos-list-item .badgeos-item-description, .list .badgeos-list-item .badgeos-item-detail {
	padding-left: 20px;
}

/**
*  Grid view of BadgeOS Achievements List, Earned Achievements List, Rank List,
**/

.grid .badgeos-list-item .badgeos-item-image {
	padding-bottom: 30px;
}
.badgeos-no-results {
	clear: both;
}
.badgeos-item-points {
	font-weight: bold;
}
.badgeos-list-item.user-has-earned .badgeos-item-image {
	opacity: 1;
}
#badgeos-achievements-container .badgeos-item-title {
	display: inline-block;
	margin-top: 0;
}
#achievements_list_load_more {
	margin: 20px auto;
}
.badgeos-open-close-switch {
	text-align: right;
}
.badgeos-open-close-switch a {
	display: block;
}
.badgeos-extras-window {
	display: none;
	clear: both;
}
.badgeos-required-achievements .user-has-earned, .badgeos-list-item.user-has-earned .badgeos-extras-window li {
	text-decoration: line-through;
}
.badgeos-required-achievements .user-has-earned:hover, .badgeos-list-item.user-has-earned .badgeos-extras-window li:hover {
	text-decoration: none;
}
.show-hide-open:after, .show-hide-close:after {
	content: '';
	display: block;
	overflow: hidden;
	background: url('../images/arrows.png') top no-repeat;
	width: 22px;
	height: 7px;
	float:right;
	margin: .7em 0 0 5px;
	background-position: 0 -14px;
}
.show-hide-close:after {
	background-position: 0 -21px;
}
ul.badgeos-achievement-earners-list {
	list-style:none;
	margin:0;
	padding:0;
}
ul.badgeos-achievement-earners-list li {
	position: relative;
	float: left;
	margin:5px;
	padding:0;
}

.badgeos_earned_point_main{
	border: 1px solid #e8e8e8;
	position: relative;
}

.badgeos_earned_point_main .badgeos_earned_point_title {
	margin: 0;
	color: black;
	font-size: 1.3em;
}
.badgeos_earned_point_main .badgeos_earned_point_detail {
	margin: 0;
	font-size: 12px;
}
.badgeos_earned_point_main:nth-child( odd ) {
	width: 30%;
	margin: 20px 2%;
	float: left;
	padding: 1%;
	box-shadow: 1px 1px 3px 2px #ccc;
	background-color: #fff;
}
.badgeos_earned_point_main:nth-child( even ) {
	width: 40%;
	margin: 20px 2%;
	float: right;
	padding: 1%;
	box-shadow: 1px 1px 3px 2px #ccc;
	background-color: #fff;
}
#badgeos-earned-achievements-container,
#badgeos-earned-ranks-container, #badgeos-list-ranks-container,
#badgeos-achievements-container {
	overflow: hidden;
}
#badgeos-earned-achievements-container .badgeos-arrange-buttons,
#badgeos-earned-ranks-container .badgeos-arrange-buttons, #badgeos-list-ranks-container .badgeos-arrange-buttons,
#badgeos-achievements-container .badgeos-arrange-buttons {
	overflow: hidden;
	margin-bottom: 50px;
}
#badgeos-earned-achievements-container ul, #badgeos-achievements-container ul, #badgeos-earned-ranks-container ul, #badgeos-list-ranks-container ul { list-style: none; }
#badgeos-earned-achievements-container .buttons, #badgeos-achievements-container .buttons, #badgeos-earned-ranks-container .buttons, #badgeos-list-ranks-container .buttons  {
	/* margin-bottom: 20px;  */
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	color: #999;
	float: right;
}
#badgeos-earned-achievements-container .selected, #badgeos-achievements-container .selected, #badgeos-earned-ranks-container .selected, #badgeos-list-ranks-container .selected  {
	background-color: #999;
	color: #fff;
	float: right;
}

#badgeos-earned-achievements-container .list > li,
#badgeos-achievements-container .list > li, #badgeos-list-ranks-container .list > li,
#badgeos-earned-ranks-container .list > li {
	width: 100%;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#badgeos-earned-achievements-container .grid > li,
#badgeos-achievements-container .grid > li, #badgeos-list-ranks-container .grid > li,
#badgeos-earned-ranks-container .grid > li  {
	float: left;
    width: 45%;
    border: 1px dotted #CCC;
    padding: 20px;
    margin: 1px auto;
}

#badgeos-earned-achievements-container .grid > li:nth-child(odd),
#badgeos-achievements-container .grid > li:nth-child(odd), #badgeos-list-ranks-container .grid > li:nth-child(odd),
#badgeos-earned-ranks-container .grid > li:nth-child(odd)  {
	clear: both;
}

.evidence_main {
	display: block;
	width: 100% !important;
	height: auto;
	overflow: hidden;
}
.left_col{
	float: left;
	width: 28%;
	height: auto;
	overflow: hidden;
	padding: 3px 3px;
	min-height: 36px;
}
.right_col{
	float: left;
	width: 68%;
	height: auto;
	overflow: hidden;
	padding: 3px 3px;
	min-height: 36px;
}
.right_col .title{
	display: block;
	font-family: sans-serif;
	font-size: 20px;
	color: #3b3c3d;
	padding: 5px;
}

.right_col .issue_date{
	display: block;
	font-size: 12px;
	color: #3b3c3d;
	padding: 5px;
}
.right_col p{
	display: block;
	font-size: 13px;
	color: #3b3c3d;
	padding: 5px;
}
.right_col .evidence{
	display: block;
	font-size: 12px;
	color: #3b3c3d;
	padding: 5px;
}

.verify-open-badge {
	padding:5px 15px !important;
}
.verify-open-badge{
	border:1px solid !important;
	margin: 0px auto !important;
}

#badgeos-ob-verification-res-list{
	list-style: none;
	color:red;
	font-family: sans-serif;
	font-size: 15px;
	margin: auto;
}
#badgeos-ob-verification-res-list li.success{
	color: green;
}
#badgeos-ob-verification-res-list li.error{
	color: red;
}
#badgeos-ob-verification-res-list li.success:before {
	content:"\2713\0020";
	width:32px;
	font-size: 25px;
	font-weight: bold;
	color: green;
}
#badgeos-ob-verification-res-list li.error:before {
	content:"\00d7\0020";
	width:32px;
	font-size: 32px;
	font-weight: bold;
	color:red;
}

@media screen and (min-width: 180px) and (max-width: 542px) {

	#badgeos-earned-achievements-container .grid li,
	#badgeos-achievements-container .grid li, #badgeos-list-ranks-container .grid li,
	#badgeos-earned-ranks-container .grid li  {
    	width: 100%;
	}
}